.add-quote-main {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-container {
  position: relative;
}

.floating-form {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-quote-img {
  max-width: 50%;
  height: auto;
  padding: 10px;
}