#nav {
  background-color: white;
  width: 100%;
  height: 0.4px;
  padding-right: 4px;
  padding-left: 4px;
  white-space: nowrap;
  font-family: futura-pt;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: normal;
  color: #2d2a26;
  margin: 0;
  padding: 1em;
  position: sticky;
  padding: 32px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#logo-image {
  width: 60px;
  height: 60px;
  padding-right: 3px;
}

#social-container {
  display: flex;
  padding: 10px;
}
