

.app {
  display: grid;
  grid-template-rows: 4rem 4rem 1fr 3rem;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Nanum+Gothic:wght@700&family=Open+Sans:ital,wght@0,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link {
  text-decoration: none;
  color: rgb(242, 175, 242);
}

a.active {
  color: white;
}

a.visited {
  color: rgb(177, 44, 155);
}

a:hover {
  background-color: rgb(242, 175, 242);
  color: black;
  transform: translate(0px, -4px);
  cursor: pointer;
  transition-delay: 0s;
  transition-duration: 1s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 1em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: Futura, sans-serif;
  background-color: rgb(161, 222, 231);
  opacity: 0.9;
}

.social-img {
  width: 40px;
  height: 40px;
  padding: 3px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app {
    display: grid;
    grid-template-rows: 4rem 4rem 1fr 3rem;
    min-width: 100%;
    box-sizing:border-box;
    /* position: relative; */
    min-height: 100%;
  }

  /* footer {
    display: none
  } */
}
  /* footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app {
    display: grid;
    grid-template-rows: 4rem 4rem 1fr 3rem;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app {
    display: grid;
    grid-template-rows: 4rem 4rem 1fr 3rem;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .app {
    display: grid;
    grid-template-rows: 4rem 4rem 1fr 3rem;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app {
    display: grid;
    grid-template-rows: 4rem 4rem 1fr 3rem;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
  }
}
